*.iml
.gradle
/local.properties
/.idea/
**/.idea/
**/.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/.kotlin/
/app/upload-keystore.jks
/keystore.properties
